 
.button
{
   display:inline-block;
   height:100px;
   width: 160px;
   padding: 10px;
   text-align: center;
   align-content: center;
   border:solid;
   border-radius: 5px;
}

#YELLOW
{
    background-color: yellow;
    
}
#GREEN
{
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
}
#BLUE
{
    background-color: blue;
    padding-right:20px;
}
#RED
{
    background-color: red;
}
h1
{
  text-align: center;

}
/* #main
{
  text-align: center;
  align-content: center;
  padding-top: 50px;
} */
body
{
    text-align: center;
    align-content: center;
    padding-top: 100px;
}